In [12]:
import pandas as pd
import numpy as np
from sklearn import metrics
data=pd.read_csv("titanic.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
outcomes=data["Survived"]
newdata=data.drop("Survived",axis=1)
newdata.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [31]:
def accuracy_score(true,pred):
    if(len(true)==len(pred)):
        return "Prediction have accuracy: {:.2f} ".format(metrics.accuracy_score(true,pred)*100)
    else:
        return "Number of predictions does n't match number of outcomes"

In [24]:
prediction=pd.Series(np.ones(5),dtype=int)
print accuracy_score(outcomes[:5],prediction)
# print outcomes[:5]
# print prediction

Prediction have accuracy: 60.00

In [30]:
#What is the accuracy if none of the passenger survived
#print len(newdata)
prediction=[0 for x in range(len(newdata))]
#print prediction
print accuracy_score(outcomes,prediction)

Prediction have accuracy: 61.62

In [32]:
#If a passenger was female, then we will predict that they survived. Otherwise, we will predict the passenger did not survive.
def predictionPassenger(data):
    predictions=[]
    for _,passenger in data.iterrows():
        if passenger['Sex']=='female':
            predictions.append(1)
        else:
            predictions.append(0)
            
    return pd.Series(predictions)

predictionsSex=predictionPassenger(newdata)

In [34]:
print accuracy_score(outcomes,predictionsSex)

Prediction have accuracy: 78.68

In [36]:
###If a passenger was female, then we will predict they survive. If a passenger was male and younger than 10, then we will also predict they survive. Otherwise, we will predict they do not survive.

def prediction2(data):
    predictions=[]
    for _,passenger in data.iterrows():
        if passenger['Sex']=='female':
            predictions.append(1)
        elif passenger['Sex']=='male' and passenger['Age']<10:
            predictions.append(1)
        else:
            predictions.append(0)
    return pd.Series(predictions)

prediction=prediction2(newdata)

In [37]:
print accuracy_score(outcomes,prediction)

Prediction have accuracy: 79.35

In [39]:
### """ Model with multiple features. Makes a prediction with an accuracy of at least 80%. """

def prediction3(data):
    predictions=[]
    for _,passenger in data.iterrows():
        if passenger['Sex']=='male':
            if passenger['Pclass']==1 and passenger['Age']<=40:
                predictions.append(1)
            elif passenger['Age']<10:
                predictions.append(1)
            else:
                predictions.append(0)
                
        else:
            predictions.append(1)
    return pd.Series(predictions)

prediction=prediction3(newdata)

In [40]:
print accuracy_score(outcomes,prediction)

Prediction have accuracy: 79.24